body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(242, 242, 242);
  margin: 0;
  padding: 0;
}

/* Remove number input arrows (spinners) for Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
